@import "tailwindcss";

@theme {
  --color-primary: #001f3f;
  --spacing-navcontainermd: 40%;
  --spacing-navcontainerlg: 35%;
  --spacing-inputarticlelg: 500px;
  --spacing-inputarticlemd: 320px;
  --spacing-card: 400px;
  --animate-marquee: marquee 15s linear infinite;

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    ,
    100% {
      transform: translateX(-200%);
    }
  }
}
